*.pb
*.gz
*.json
**/data
__pycache__
.ipynb_checkpoints
*.log
*.h5
DeepSense/model

# for symbol link
UBDTR
swarm-learning
*.pyc
*.tfevents*

DeepSense/data
DeepSense/data_raw
ImageNet-LT/data/train
ImageNet-LT/data/test
ImageNet-LT/data/val
ImageNet-LT/data/open
*.hdf5
DeepSense/logs
DeepSense/saved_models
DeepSense/DenseNet49-DeepSense-baseline/*
old/
DeepSense/DenseNet49-Sense++-baseline
DeepSense/enetv2
ImageNet-LT/logs
ImageNet-LT/saved_models
